@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-aeonik-mono: var(--font-family-aeonik-mono);
    --font-diatype: var(--font-family-diatype);
}

@theme {
    --breakpoint-xl: 74rem;
    --breakpoint-3xl: 120rem;
    --text-h1: clamp(3rem, calc(1.5714rem + 7.1429vw), 5rem);
    --text-h1--line-height: 0.9;
    --text-h1--letter-spacing: -0.03em;
    --text-h1--font-weight: 300;

    --text-h2: clamp(2.25rem, calc(1.4464rem + 4.0179vw), 3.375rem);
    --text-h2--line-height: 1;
    --text-h2--letter-spacing: -0.02em;
    --text-h2--font-weight: 300;

    --text-h3: clamp(1.125rem, calc(1.0357rem + 0.4464vw), 1.25rem);
    --text-h3--line-height: 1;
    --text-h3--letter-spacing: 0em;
    --text-h3--font-weight: 300;

    --text-text: clamp(0.875rem, calc(0.7857rem + 0.4464vw), 1rem);
    --text-text--line-height: 1.2;
    --text-text--letter-spacing: 0.01em;
    --text-text--font-weight: 300;

    --text-tag-button: clamp(0.625rem, calc(0.4464rem + 0.8929vw), 0.875rem);
    --text-tag-button--line-height: 1.1;
    --text-tag-button--letter-spacing: 0.01em;
    --text-tag-button--font-weight: 300;
}

@media (min-width: 768px) {
    :root {
        --text-h1: 5rem;
        --text-h1--line-height: clamp(0.9em, calc(0.825em + 0.1563vw), 0.95em);
        --text-h1--letter-spacing: -0.03em;
        --text-h1--font-weight: 300;

        --text-h2: 3.375rem;
        --text-h2--line-height: clamp(0.9em, calc(0.75em + 0.3125vw), 1em);
        --text-h2--letter-spacing: -0.03em;
        --text-h2--font-weight: 300;

        --text-h3: 1.25rem;
        --text-h3--line-height: 1;
        --text-h3--letter-spacing: 0em;
        --text-h3--font-weight: 300;

        --text-text: 1rem;
        --text-text--line-height: 1.2;
        --text-text--letter-spacing: 0.01em;
        --text-text--font-weight: 300;

        --text-tag-button: 0.875rem;
        --text-tag-button--line-height: 1.1;
        --text-tag-button--letter-spacing: 0.01em;
        --text-tag-button--font-weight: 300;
    }
}

@media (min-width: 1280px) {
    :root {
        --text-h1: clamp(5rem, 6.25vw, 6rem);
        --text-h1--line-height: 0.95;
        --text-h1--letter-spacing: -0.03em;
        --text-h1--font-weight: 300;

        --text-h2: clamp(3.375rem, calc(2.75rem + 0.7813vw), 3.5rem);
        --text-h2--line-height: 1;
        --text-h2--letter-spacing: -0.02em;
        --text-h2--font-weight: 300;

        --text-h3: 1.25rem;
        --text-h3--line-height: 1;
        --text-h3--letter-spacing: 0em;
        --text-h3--font-weight: 300;

        --text-text: 1rem;
        --text-text--line-height: 1.2;
        --text-text--letter-spacing: 0.01em;
        --text-text--font-weight: 300;

        --text-tag-button: 0.875rem;
        --text-tag-button--line-height: 1.1;
        --text-tag-button--letter-spacing: 0.01em;
        --text-tag-button--font-weight: 300;
    }
}

@media (min-width: 1536px) {
    :root {
        --text-h1: clamp(6rem, 6.25vw, 7.5rem);
        --text-h1--line-height: 0.95;
        --text-h1--letter-spacing: -0.03em;
        --text-h1--font-weight: 300;

        --text-h2: clamp(3.5rem, calc(-0.5rem + 4.1667vw), 4.5rem);
        --text-h2--line-height: 1;
        --text-h2--letter-spacing: -0.02em;
        --text-h2--font-weight: 300;

        --text-h3: clamp(1.25rem, calc(0.25rem + 1.0417vw), 1.5rem);
        --text-h3--line-height: 1;
        --text-h3--letter-spacing: 0em;
        --text-h3--font-weight: 300;

        --text-text: clamp(1rem, 1.0417vw, 1.25rem);
        --text-text--line-height: 1.2;
        --text-text--letter-spacing: 0.01em;
        --text-text--font-weight: 300;

        --text-tag-button: clamp(
            0.875rem,
            calc(-0.125rem + 1.0417vw),
            1.125rem
        );
        --text-tag-button--line-height: 1.1;
        --text-tag-button--letter-spacing: 0.01em;
        --text-tag-button--font-weight: 300;
    }
}

@media (min-width: 1920px) {
    :root {
        --text-h1: clamp(7.5rem, 6.25vw, 10rem);
        --text-h1--line-height: 0.95;
        --text-h1--letter-spacing: -0.03em;
        --text-h1--font-weight: 300;

        --text-h2: clamp(4.5rem, 3.75vw, 6rem);
        --text-h2--line-height: 1;
        --text-h2--letter-spacing: -0.02em;
        --text-h2--font-weight: 300;

        --text-h3: clamp(1.5rem, 1.25vw, 2rem);
        --text-h3--line-height: 1;
        --text-h3--letter-spacing: 0em;
        --text-h3--font-weight: 300;

        --text-text: clamp(1.25rem, 1.0417vw, 1.6667rem);
        --text-text--line-height: 1.2;
        --text-text--letter-spacing: 0.01em;
        --text-text--font-weight: 300;

        --text-tag-button: clamp(1.125rem, 0.9375vw, 1.5rem);
        --text-tag-button--line-height: 1.1;
        --text-tag-button--letter-spacing: 0.01em;
        --text-tag-button--font-weight: 300;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-family-aeonik-mono);
}
